JIRA_URL=https://software.1cbit.ru
JIRA_TOKEN=
JQL=filter=filter=14429
MAX_RESULTS_PER_PAGE=100
# ROUNDING_TYPE - тип округления времени: half_hour (до получаса) или tenths (до десятых)
ROUNDING_TYPE=tenths
